/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #7990db;
    color: #000000;
}

header {
    background-color: #340064;
    color: #5a0000;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    height: 50px;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin-left: 20px;
}

.menu a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background: url('imagenes/hero.jpg') no-repeat center center/cover;
    color: #ffffff;
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.5rem;
}

.categorias, .productos {
    padding: 20px;
    text-align: center;
}

.categorias h2, .productos h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.categoria-grid, .producto-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.categoria-item, .producto-item {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    color: #333;
}

.categoria-item img, .producto-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.selector-categoria {
    margin-bottom: 20px;
}

.selector-categoria label {
    font-size: 1.2rem;
    margin-right: 10px;
}

.selector-categoria select {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ffffff;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .menu {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 250px;
        background-color: #333;
        padding-top: 60px;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    }

    .menu.active {
        display: flex;
    }

    .menu li {
        margin: 15px 0;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
    }

    .categoria-grid, .producto-grid {
        flex-direction: column;
        align-items: center;
    }

    .categoria-item, .producto-item {
        width: 80%;
    }
}